{% extends "base.html" %} {% block title %}Translation Detail | Hymnarium CMS{%
endblock %} {% block content %}
<h2>Translation: {{ object.title }}</h2>
<div class="detail-grid">
  <p class="detail-item"><strong>ID:</strong> {{ object.id }}</p>
  <p class="detail-item"><strong>Hymn:</strong> {{ object.hymn_id }}</p>
  <p class="detail-item"><strong>Language:</strong> {{ object.language }}</p>
  <p class="detail-item whitespace-pre-wrap">
    <strong>Text:</strong> {{ object.text }}
  </p>
</div>
<p class="mt-4 inline-actions">
  <a class="btn-muted" href="{% url 'hymns:hymntranslation-update' object.pk %}"
    >{% include "includes/icon.html" with icon="edit" %} Edit</a
  >
  <a
    class="btn-danger"
    href="{% url 'hymns:hymntranslation-delete' object.pk %}"
    >{% include "includes/icon.html" with icon="delete" %} Delete</a
  >
</p>
{% endblock %}
