{% extends "base.html" %} {% block title %}Topic Detail | Hymnarium CMS{%
endblock %} {% block content %}
<h2>Topic: {{ object.name }}</h2>
<div class="detail-grid">
  <p class="detail-item">
    <strong>{% include "includes/icon.html" with icon="id" %} ID:</strong>
    {{ object.id }}
  </p>
</div>
<p class="mt-4 inline-actions">
  <a class="btn-muted" href="{% url 'hymns:topic-update' object.pk %}">
    {% include "includes/icon.html" with icon="edit" %} Edit
  </a>
  <a class="btn-danger" href="{% url 'hymns:topic-delete' object.pk %}"
    >{% include "includes/icon.html" with icon="delete" %} Delete</a
  >
</p>
{% endblock %}
