{% extends "hymns/base.html" %}

{% block title %}Translation Detail | Hymnarium CMS{% endblock %}

{% block content %}
<h2>Translation: {{ object.title }}</h2>
<p><strong>ID:</strong> {{ object.id }}</p>
<p><strong>Hymn:</strong> {{ object.hymn_id }}</p>
<p><strong>Language:</strong> {{ object.language }}</p>
<p><strong>Text:</strong> {{ object.text }}</p>
<p>
    <a href="{% url 'hymns:hymntranslation-update' object.pk %}">Edit</a>
    <a href="{% url 'hymns:hymntranslation-delete' object.pk %}">Delete</a>
</p>
{% endblock %}
